#myCanvas{
	background-color: #C1C0C0;
	margin:auto;
	display: block;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.animHeadShot{
    width: 120px;
}

#displayAnimals{
    margin:auto;
}

#users{
    width:500px;
}

#displayAnimals div{
    display: inline-block;
}