body{
    background-color: #ddd8c4;
    color: #50808e;
    margin:0;
    padding: 0;
    height:100%;
}
#myCanvas{
	background-image:url("../images/grass.jpg");
    background-repeat: repeat;
    background-size: 50px;
	margin:auto;
	display: block;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #a39c9c;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #84b59f;
        color: #000;

}
tbody tr{
        background-color:   #a3c9a8;
        color: #000;

}

.animHeadShot{
    width: 100%;
}

#displayAnimals{
    width: 700px;
    margin: auto;

    text-align:center;

    display: block;

}
#displayAnimals div{
        width: 120px;

    display: inline-block;
    margin: 5px;
    padding: 10px;
    border: 2px solid black; 
    border-radius: 3px;

}
#displayAnimals h3,h4{
    margin: 0;
    padding: 0;

}

#users{
    width:700px;
        margin:auto;

}

#users table{
    font-size: 1.4px;
}

#users-contain{
    margin:auto;   
    margin-top: 100px;

    text-align:center;
}


#start-screen{
        text-align:center;
    margin:auto;
    min-height: 100%;
     position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: auto;
  
}


#bet-form form{
    margin-top: 20px;
    text-align: center;
}



#final-message{
    width: 600px;
    height:600px;
}

#end-screen{
    text-align:center;
    min-height: 100%;
    line-height: 40%;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: auto;
      padding-top: 280px;
      font-size: 2em;
}

#start-screen{
    padding-top: 320px;
    font-size: 2em;
    line-height: 40%;

}
#start{
    text-align:center;
    border-radius: 20px;
    font-size: ;
    width:200px;
    height:100px;
}
#background-opacity{
    background-color: #000000;
    opacity: 0.6;
    z-index: 1;
    min-height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: auto;
}

#final-message .ui-dialog-titlebar-close {
  display: none;
}

#display-winner{
    margin: auto;

    text-align:center;

    display: block;

}
#display-winner div{
        width: 130px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border: 2px solid black; 
    border-radius: 3px;

}
#display-winner h3,h4{
    margin: 0;
    padding: 0;

}