#myCanvas{
	background-image:url("../images/grass.jpg");
    background-repeat: repeat;
    background-size: 50px;
	margin:auto;
	display: block;
    height:640px;
    width:1400px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.animHeadShot{
    width: 120px;
}

#displayAnimals{
    text-align:center;

    display: block;

}
#displayAnimals div{
    display: inline-block;
    margin: 0 auto;

}
#displayAnimals h3,h4{
    margin: 0;
    padding: 0;

}

#users{
    width:500px;
}

