body {
    background-color: #EBEFF1;//* 1c3144C1; #6e8898;*/
    font-family: MV Boli;
    color: #565758;
    /*margin: 0;*/
}
#content{
	margin: -40px 100px 0px 100px;
	background-color: #DEEEED ; /*#6e8898;*/

}

#myCanvas {
    background-color: #084C61; /*#2e5266;*/
    display: block;
    margin: auto;
        border: 2px solid #BA1200;;
    /*border-radius: 10px;*/
}
h1 {
    color: #BA1200; /*084C61;*/
    margin-top: 35px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 70px;
}
h2 {
    color: #BA1200; /*084C61;*/
    margin-top: 40px;
    margin-bottom: 15px;
    margin-left: 80px;
    margin-right: ;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: #084C61;
}
h3 {
            color: #BA1200; /*084C61;*/

    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 120px;
    margin-right: ;
    font-size: 25px;
    text-decoration: underline;
    text-decoration-width: 2px;
    text-decoration-color: #084C61;
}
p {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 160px;
    margin-right: 160px;
    font-size: 20px;
    line-height: 1.25em;

}
ol{
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 200px;
    font-size: 25px;
    line-height: 1.25em;

}

ul {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 120px;
    font-size: 25px;
    line-height: 1.25em;

}


hr {
    display: block;
	background-color: #084C61;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    height: 4px;
}

pre {
    background-color: #EBEFF1;
    color: #084C61;
    width: 800px;
    font-family: Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
    font-size: 20px;
    padding: 1em 6px 1em 16px;
    margin: auto;
    display: block;
    overflow: auto;
    overflow-y: auto;
    border: 2px solid #BA1200;;
    /*border-radius: 10px;*/
    line-height: 1.5em;
}


#tab {
    width: 20px;
}